/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */


.shop-section{

     width: 100%;
     height: 100vh;
     display: flex;
     margin-top: 20px ;
     padding: 15px;
     overflow: auto;

}

.product-section{

    width: 73%;
    height: auto;
   

}
.cart-section{

    width: 27%;
    height: 100vh;
    margin: 0px 10px;

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {


.shop-section{

        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
   
   }

.product-section{

    width: 100%!important;
    height: auto;
   

}
.cart-section{
    
    width: 100%;
    height: auto;
    margin: 10px 0px;

}




 }